<!DOCTYPE html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=1200">
  <script src="https://distill.pub/template.v2.js"></script>
  <style>
    /* ****************************************
   * Thread Info
   ******************************************/

   .thread-info {
        background-color: hsl(54, 78%, 96%);
        border-left: solid hsl(54, 33%, 67%) 1px;
        padding: 1em;
        color: hsla(0, 0%, 0%, 0.67);
    }

    #thread-nav {
        margin-top: 20;
        margin-bottom: 1.5rem;
        display: grid;
        grid-template-columns: 45px 2fr 3fr;
        grid-template-areas:
            "icon explanation explanation "
            "icon prev next";
        grid-column-gap: 1.5em;
    }

    @media (min-width: 768px){
      #thread-nav {
        grid-template-columns: 65px 2fr 3fr;
      }
    }

    #thread-nav .icon {
        grid-area: icon;
        padding: 0.5em;
        justify-self: center;
    }

    #thread-nav .explanation {
        grid-area: explanation;
        font-size: 85%;
        color: hsl(0, 0%, 0.33);
    }

    #thread-nav .prev {
        grid-area: prev;
    }

    #thread-nav .prev::before {
        content: "← Previous Article";
    }

    #thread-nav .overview {
        scroll-behavior: smooth;
    }

    #thread-nav .overview::before {
        content: "↑";
        white-space: nowrap;
        margin-right: 0.5em;
    }

    #thread-nav .next {
        grid-area: next;
        scroll-behavior: smooth;
    }

    #thread-nav .next::before {
        content: "Next Article →";
    }

    #thread-nav .next::before, #thread-nav .prev::before {
      display: block;
      white-space: nowrap;
      padding: 0.5em 0;
      font-size: 80%;
      font-weight: bold;
      margin-top: 0px;
      margin-right: 0.5em;
      text-transform: uppercase;
    }



    #thread-nav .prev,
    #thread-nav .next,
    #thread-nav .overview {
        font-size: 80%;
        line-height: 1.5em;
        font-weight: 600;
        border-bottom: none;
        color: #2e6db7;
        /* margin-top: 0.25em; */
        letter-spacing: 0.25px;
    }
  </style>
</head>

<body>
  <d-front-matter>
    <script type="text/json">
      <%= JSON.stringify(require("./frontmatter").default, null, 4) %>
    </script>
  </d-front-matter>

    <d-title>
    </d-title>

  <d-article>
  </d-article>

  <d-appendix>
    <d-footnote-list></d-footnote-list>
    <d-citation-list></d-citation-list>
  </d-appendix>

  <d-bibliography src="bibliography.bib"></d-bibliography>
  <script src="app.bundle.js"></script>
</body>